.color {
  background-color: black;
  border: black solid 1px;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.color:nth-child( 2 ) {
  background-color: red;
}

.color:nth-child( 3 ) {
  background-color: blue;
}

.color:nth-child( 4 ) {
  background-color: green;
}

#button-random-color {
  margin-top: 15px;
  margin-bottom: 30px;
}

#pixel-board {
  height: 210px;
  width: 210px;
  display: flex;
  flex-wrap: wrap;
}

.pixel {
  height: 40px;
  width: 40px;
  border: black solid 1px;
  background-color: white;
}
